:root {
  --primary-color: #a7a7a7;    
  --secondary-color: #1E1E1E;   
  --text-color: #F5F5F5; 
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
header{
  display: grid;
  grid-template-columns: 24px auto 44px;
  padding: 5px 2px 5px 10px;
  align-items: end;
  border-bottom: solid var(--secondary-color);
  column-gap: 8px;
}
header img{
  display: block;
  width: 100%;
  height: auto;
  padding-bottom: 5px;
}
header span{
  font-size: 1.2rem;
  color: var(--secondary-color);
}

.hamburger{
  background: none;
  border: none;
  color: var(--secondary-color); 
  cursor: pointer;
}
.hamburger::after{
  content: "\2630";
  font-size: 2rem;
}
.hamburger.show::after{
  content: "\00D7";
  font-size: 2rem;
}
.navigation{
  display: none;
}
.navigation.show{
  display: block;
}
.navigation ul{
  list-style-type: none;
  background-color: var(--secondary-color);
}
.navigation a{
  display: block;
  text-decoration: none;
  padding: .8rem 10px;
  color: var(--text-color);
  border-bottom: solid var(--secondary-color);
  text-align: center;
}
.navigation li.current{
  background-color: var(--primary-color);
} 
.navigation a:hover{
  background-color: var(--primary-color);
}
main{
  max-width: 100vw;
  padding: 0px 10px 0px 10px;
}
.first{
  background: var(--primary-color);
  margin-bottom: 5px;
}
h2{
  text-align: center;
  background-color: var(--secondary-color);
  color: var(--text-color);
  padding: 5px;
}
.first p{
  padding: 10px;
}
.second{
  background-color: var(--primary-color);
  text-align: center;
  margin-bottom: 5px;
}
.second img{
  padding: 10px;
}
.parent{
  max-width: 100vw;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  text-align: center;
}
.one{
  background-color: var(--primary-color);
  padding: 5px;
  font-size: larger;
  border-radius: 5px;
  grid-column: 1 / 5;
  border: solid var(--secondary-color);
  margin: 10px 0px 0px 10px;
}
.two{
  background-color: var(--primary-color);
  padding: 5px;
  font-size: larger;
  border-radius: 5px;
  grid-column: 5 / 9;
  border: solid var(--secondary-color);
  margin: 10px 0px 0px 0px;
}
.three{
   background-color: var(--primary-color);
  padding: 5px;
  font-size: larger;
  border-radius: 5px;
  grid-column: 9 / 13;
  border: solid var(--secondary-color);
  margin: 10px 10px 0px 0px;
}
.first-p{
  background-color: var(--primary-color);
  grid-column: 1 / 13;
  padding: 5px;
  border: 1px solid var(--secondary-color);
}
.second-p{
  background-color: var(--primary-color);
  grid-column: 1 / 13;
  padding: 5px;
  border: 1px solid var(--secondary-color);
}
.third-p{
  background-color: var(--primary-color);
  grid-column: 1 / 13;
  padding: 5px;
  border: 1px solid var(--secondary-color);
}
.last-p{
  grid-column: 1 / 13;
}
footer{
  max-width: 100vw;
  background-color: var(--primary-color);
  text-align: center;
  color: var(--secondary-color);
}
.socialmedia{
  text-decoration: none;
  text-align: center;
  background-color: white;
}
.socialmedia a{
  list-style: none;
}
.socialmedia img{
  width: 90px;
  padding: 5px;
}
footer p{
  font-size: larger;
  padding: 5px 0px 5px 0px;
}


