@media only screen and (min-width: 38rem) {
    header, main, nav, footer{
        max-width: 100vw;
        margin: 0 auto;
    }

    header{
        grid-template-columns: 24px auto;
    }
    .hamburger{
        display: none;
    }
    .navigation{
        display: block;
    }
    .navigation ul{
        display: flex;
    }
    main{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 1rem;
    }
    .firstsection{
        grid-column: 1 / 9;
        margin: 0px 0px 0px 10px;
    }
    .secondsection{
        grid-column: 9 / 13;
        margin: 0px 10px 0px 0px;
    }
}